<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram</title>
</head>
<body>
    <!-- <h3>this page belongs to <%= username%></h3>
    <button>
        follow
    </button>
    <button>message</button> -->


    <h2>This page belongs to @<%= data.name %></h2>
    <button>follow</button>
    <button>message</button>
    
</body>
</html>